html {
  font-size: 100PX;
}

body {
  transition: all .5s;
  display: grid;
  height: 100vh;
  font: 0.2rem Arial;
  background: linear-gradient(to bottom, white, black);
}

h1 {
  margin: 0 0 0.2rem;
  font-size: 0.32rem;
  line-height: 1.2;
  letter-spacing: 0.01rem;
}

p {
  color: green;
  transform: translateY(0.3rem);
  padding: 0.3rem;
  user-select: none;
}

.content {
  color: gray;
  &__title {
    color: red;
  }
  &__bottom {
    color: green;
  }
}