html {
  font-size: 100PX;
}

body {
  transition: all .5s;
  display: grid;
  height: 100vh;
  font: 20px Arial;
  background: linear-gradient(to bottom, white, black);
}

h1 {
  margin: 0 0 20px;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 1px;
}

p {
  color: green;
  transform: translateY(30px);
  padding: 30px;
  user-select: none;
}

.content {
  color: gray;
  &__title {
    color: red;
  }
  &__bottom {
    color: green;
  }
}